{% extends 'HealthAdvisorBundle:Default:index.html.twig' %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block body %}
    {% block header %}
        {{ parent() }}
    {% endblock %}
    <div class="col-sm-8">
        <div class="row">
            <div class="col-sm-6">
                <div class="career-box">
                    <h3 class="heading">CT Scan Personnel</h3>
                    <div class="slots">
                        <h6 class="heading">Qualification Required</h6>
                        <ul>
                            <li>Graduate (M. Phil.) </li>
                            <li>2+ Years Experience</li>
                        </ul>
                    </div>
                    <br>
                    <div class="slots">
                        <h6 class="heading">Job Location</h6>
                        <ul>
                            <li>Washington D.C.</li>
                        </ul>
                    </div>
                    <div class="info">
                        <p>Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place.</p>
                    </div>
                    <br>
                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-pencil"></i>Apply Now</a>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="career-box">
                    <h3 class="heading">Operation Helper</h3>
                    <div class="slots">
                        <h6 class="heading">Qualification Required</h6>
                        <ul>
                            <li>High Schooling </li>
                            <li>5+ Years Experience</li>
                        </ul>
                    </div>
                    <br>
                    <div class="slots">
                        <h6 class="heading">Job Location</h6>
                        <ul>
                            <li>California</li>
                        </ul>
                    </div>
                    <div class="info">
                        <p>Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place.</p>
                    </div>
                    <br>
                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-pencil"></i>Apply Now</a>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="career-box">
                    <h3 class="heading">Accounts Manager</h3>
                    <div class="slots">
                        <h6 class="heading">Qualification Required</h6>
                        <ul>
                            <li>Graduate (Accounts) </li>
                            <li>2+ Years Experience</li>
                        </ul>
                    </div>
                    <br>
                    <div class="slots">
                        <h6 class="heading">Job Location</h6>
                        <ul>
                            <li>New York</li>
                        </ul>
                    </div>
                    <div class="info">
                        <p>Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place.</p>
                    </div>
                    <br>
                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-pencil"></i>Apply Now</a>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="career-box">
                    <h3 class="heading">Senior Physician</h3>
                    <div class="slots">
                        <h6 class="heading">Qualification Required</h6>
                        <ul>
                            <li>M.B.B.S (Physician) </li>
                            <li>10+ Years Experience</li>
                        </ul>
                    </div>
                    <br>
                    <div class="slots">
                        <h6 class="heading">Job Location</h6>
                        <ul>
                            <li>Washington D.C.</li>
                        </ul>
                    </div>
                    <div class="info">
                        <p>Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place.</p>
                    </div>
                    <br>
                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-pencil"></i>Apply Now</a>
                </div>
            </div>
            <div class="col-sm-12 mt-60">
                <form>
                    <div class="row">
                        <div class="col-sm-12">
                            <h3 class="heading">Work With Medwise Group</h3>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input class="form-control" type="text" placeholder="Your First Name">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input class="form-control" type="text" placeholder="Your Last Name">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="form-group">
                                <input class="form-control" type="text" placeholder="Full Address">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <input class="form-control" type="text" placeholder="City">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input class="form-control date-select hasDatepicker" type="text" placeholder="Date Of Birth" id="dp1523131924826"><button type="button" class="ui-datepicker-trigger"><img src="images/datepicker/calendar.png" alt="..." title="..."></button>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="btn-group bootstrap-select"><button type="button" class="btn dropdown-toggle btn-default" data-toggle="dropdown" role="button" title="Select Position"><span class="filter-option pull-left">Select Position</span>&nbsp;<span class="bs-caret"><span class="caret"></span></span></button><div class="dropdown-menu open" role="combobox"><ul class="dropdown-menu inner" role="listbox" aria-expanded="false"><li data-original-index="0" class="selected"><a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="true"><span class="text">Select Position</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="1"><a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="false"><span class="text">CT Scan Personnel</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="2"><a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="false"><span class="text">Operation Helper</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="3"><a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="false"><span class="text">Accounts Manager</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="4"><a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="false"><span class="text">Senior Physician</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li></ul></div><select class="" tabindex="-98">
                                        <option>Select Position</option>
                                        <option>CT Scan Personnel</option>
                                        <option>Operation Helper</option>
                                        <option>Accounts Manager</option>
                                        <option>Senior Physician</option>
                                    </select></div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <textarea class="form-control" rows="5" placeholder="Special Message"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit"><i class="fa fa-paper-plane"></i> Apply for Job</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
